/.deployed
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/hot
/public/storage
/ray.php
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.staging
.phpunit.result.cache
auth.json
docker-compose.override.yml
geoip.lock
Homestead.json
Homestead.yaml
npm-debug.log
php_errors.log
yarn-error.log
