// Dark Mode
[data-bs-theme="dark"] {
    :root  {
        //
    }
    .card {
        --bs-card-bg: var(--bs-gray-800);
    }
    .card:not([class*="bg-"]) .card-header {
        background-color: var(--bs-gray-700);
        color: var(--bs-link-color);
    }
    .table {
        --bs-table-bg: transparent;
        --bs-table-hover-bg: var(--bs-gray-700);
        --bs-table-border-color: var(--bs-gray-700);
        --bs-table-color: var(--bs-card-color);
        --bs-table-striped-color: var(--bs-card-color);
    }
    .dropdown-divider {
        --bs-dropdown-divider-bg: var(--bs-gray-700);
    }
    .page-link {
        --bs-pagination-bg: var(--bs-gray-800);
    }
    .list-group {
        --bs-list-group-bg: transparent;
    }
}