// Colors
$blue: #2271d2;
$indigo: #4b4ca1;
$purple: #5a4bab;
$pink: #ec1461;
$red: #dc3545;
$orange: #f56b38;
$yellow: #fba330;
$green: #2ca967;
$teal: #2ea290;
$cyan: #32a5c1;

$white: #fff;
$gray-050: #f8f9fa;
$gray-100: #f8f9fa;
$gray-150: #eaecef;
$gray-200: #e9ecef;
$gray-250: #dfe3e7;
$gray-300: #dee2e6;
$gray-350: #d0d6db;
$gray-400: #ced4da;
$gray-450: #b1b8c0;
$gray-500: #adb5bd;
$gray-550: #727b84;
$gray-600: #6c757d;
$gray-650: #505860;
$gray-700: #495057;
$gray-750: #3c434a;
$gray-800: #343a40;
$gray-850: #2a2f35;
$gray-900: #212529;
$gray-950: #1f2326;
$black: #000;

$laravel: #f9322c;
$ince: #c2133e;
$coaxle: #de1f26;
$google: #ea4335;
$facebook: #1877f2;
$twitter: #000000;

$primary: $laravel;
$secondary: $black;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
